/* 
navbar
  navtop
    #menu-btn
    .logo
    #theme-toggler
  nav-items
    li
*/
.navbar {
    position: sticky;
    z-index: 1000;
    top: 0;
    left: 0;
}
.navbar .navtop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: var(--color-navtop);
    color: white;
    padding: 20px;
    position: relative;
}
.navtop #menu-btn {
    display: none;
}
.navtop #theme-toggler{
    /* position: absolute;
    top: 0;
    right: 0; */
}

/* theme-toggler-btn's */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    margin: 0 10px;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0096FE;
    transition: .3s;
    border-radius: 34px;
}
.switch input {display: none;}
.slider::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    left: 5.5px;
    bottom: 5px;
    background-color: white;
    border-radius: 50%;
    transition: .3s;
}
input:checked + .slider{
    background-color: white;
}
input:checked + .slider::before{
    background-color: rgb(30,30,30);
    transform: translateX(30px);
}
/* theme-toggler-ends-here */


.navbar .nav-items{
    display: flex;
    flex-direction: row;
    background: var(--color-navitems);
}
.navbar .nav-items li{
    list-style: none;
    padding: 10px;
    margin: 0 5px;
    margin-bottom: 5px;
}
.navbar .nav-items li a{
    text-decoration: none;
    color: var(--color-text2);
}

/* media query */
/* @Media Queries 450px */
@media screen and (max-width: 450px)    {
    .navbar {
        
    }
    .navbar .navtop{
        justify-content: space-around;
        align-items: center;
        padding: 20px;
    }
    .navtop #menu-btn {
        display: block;
    }
    .navbar .nav-items{
        flex-direction: column;
        border-top: 2px solid whitesmoke;
        border-bottom: 2px solid whitesmoke; 
    }
    .navbar ul li{
        text-align: center;
    }
    .navbar ul li a{
        
    }
}