:root {
    --color-navtop: rgb(36,41,47);
    --color-navitems: rgb(36,41,47);
    --color-bg: rgba(19,20,23);
    --color-box: rgba(42,42,44);
    --color-footer: rgba(22,23,29);
    --color-hover: rgb(90, 106, 198);
    --color-purple: rgb(90, 46, 152);
    
    /*text-color */
    --color-text: rgba(255,255,255);
    --color-text2: whitesmoke;
}

* {
    /* font-family: 'Roboto Mono', monospace; */
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

.container {
    color: var(--color-text);
    background-color: var(--color-bg);
    position: relative;
}

.theme {
    --color-bg: white;
    --color-box: whitesmoke;
    --color-footer: rgb(227, 217, 217);
    --color-navitems: rgb(225, 225, 225);
    /* text-color */
    --color-text: black;
    --color-text2: rgb(19, 19, 19);
    /* hover */
    --color-hover: rgb(83, 105, 228);
}

/* @Media Queries 400px */
@media screen and (max-width: 450px)    {
    .container {
        width: 100%;
    }
}